body {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
    font-family: var(--font-family);
    background-color: var(--color-bg-app);
    overflow-x: hidden;
}
.container {
    margin-inline: auto;
    padding-inline: var(--container-offset);
    max-width: var(--container-width);
  }

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  ul, ol, menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }
